main {
    width: 100%;
    height: 100vh;
    padding: 0 4vw;
}

main #home {
    width: 100%;
    height: 100%;
    display: flex;
}

main #home .content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main  #home .content h2 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
}

main  #home .content h2 span {
    color: var(--cor-secundaria);
}

main  #home .content h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

main  #home .content p {
    font-size: 1.125rem;
    margin: 1.875rem 0;
}

main #home .photo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #home .photo div {
    width: 24rem;
    height: 24rem;
    background-color: var(--cor-texto);
    border-radius: 50%;
    overflow: hidden;
}

main #home .photo div:hover {
    transform: scale(1.05);
}

main #home .photo div img {
    width: 100%;
    height: 96%;
    transform: translate(0, 1.5rem);
}

main #intencao {
    width: 100%;
    height: 100%;
    padding: 8vh 18vw;
}

main #intencao .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    border-radius: 3rem;
    gap: 3rem;
}

main #intencao .content h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;

}

main #intencao .content h2 span {
    color: var(--cor-primaria)
}
main #intencao .content h2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main #intencao .content form {
    gap: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #intencao .content form label {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

main #intencao .content form label:hover {
    transform: scale(1.05);
}

main #intencao .content form input {
    width: 100%;
    height: 1.7rem;
    border-radius: 0.8rem;
    text-align: center;
    border: solid 0.06rem gray;
}

main #intencao .content form input:hover {
    transform: scale(1.05);
    cursor: text;
}

main #intencao .content form button {
    width: 50%;
    height: 3rem;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
}

main #intencao .content form button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

main #intencao .content form button:active {
    transform: scale(0.8);
}

main #contact .benfeitoria {
    width: 100%;
    height: 100vh;
    padding: 6vh 0;
    /* border: solid white 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #contact .benfeitoria h2 {
    color: var(--cor-secundaria);
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: -0.8px -0.8px 0 white,0.8px -0.8px 0 white,-0.8px  0.8px 0 white,2px  0.8px 0 white;
}

main #contact .benfeitoria .textb {
    width: 80%;
    height: 80%;
    padding: 0.25rem 2rem;
    /* border: solid white 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    border-radius: 2rem;
}

main #contact .benfeitoria .textb h3 {
    font-size: 1.35rem;
    font-weight: 500;
    text-align: center;
    padding-top: 0.05rem;
}

main #contact .benfeitoria .textb p {
    text-align: center;
    padding: 1rem 0;
}

main #contact .benfeitoria h2 {
    font-size: 2.5rem;
}

main #contact .benfeitoria .a {
    width: 20%;
    height: 5vh;
    background-color: var(--cor-secundaria);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    border: solid white 0.14rem;
}

main #contact .benfeitoria .a:hover {
    background-color: var(--cor-primaria);
    transform: scale(1.05);
}

main #contact .benfeitoria .a:active {
    transform: scale(0.85);
}

main #contact .benfeitoria .a a{
    font-weight: 500;
}

main #contact .benfeitoria .footerbenfeitoria {
    text-align: center;
    font-weight: 500;
    font-size: 1.05rem;
}

main #map .local {
    width: 100%;
    height: 100vh;
    border: solid yellow 1px;
}
